# Front-end
APP_PORT=8081
APP_URL=example.com
VITE_PORT=5173
VITE_API_URL=api.example.com

# Variables pour Directus
DIRECTUS_KEY=your_super_secret_key

# Port directus local
DB_PORT=5432
DIRECTUS_PORT=8055
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=your_admin_password
DIRECTUS_ADMIN_TOKEN=your_super_admin_secret_token