.cd-hero-slider {
  position: relative;
  height: 75vh;
  max-height: 80vw;
  overflow: hidden;
  white-space: normal;
}
.cd-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
}
.cd-hero-slider li.selected {
  position: relative;
  transform: translateX(0);
}
.cd-hero-slider li.move-left {
  transform: translateX(-100%);
}
.cd-hero-slider li.is-moving, .cd-hero-slider li.selected {
  transition: transform 0.5s;
}
.cd-hero-slider .cd-full-width, .cd-hero-slider .cd-half-width {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  padding-top: 100px;
  text-align: center;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.cd-hero-slider .cd-img-container {
  z-index: 1;
  display: none;
}
.cd-hero-slider .cd-img-container img {
  position: relative;
  bottom: 15vh;
  right: auto;
  width: auto;
  height: 80vmin;
  transform: translateX(-50%) translateY(-50%);
}
.cd-hero-slider .cd-bg-video-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cd-hero-slider .cd-bg-video-wrapper video {
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
}
.cd-hero-slider h2, .cd-hero-slider p {
  text-shadow: 0px 0px 8px black;
  line-height: 1.2;
  margin: 0 auto 14px;
  color: white;
  width: 100%;
}
.cd-hero-slider h2 {
  font-size: 7vmin;
}
.cd-hero-slider p {
  font-size: 1.8vmin;
  line-height: 1.4;
}
.cd-hero-slider .cd-btn-container-left {
  text-align: left;
}
.cd-hero-slider .cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: 0.8em;
  margin-right: 1em;
  background-color: rgba(205, 4, 21, 0.9);
  font-size: 1.8vmin;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
  text-shadow: none;
}
.cd-hero-slider .cd-btn.secondary {
  background-color: rgba(22, 26, 30, 0.8);
}
.cd-hero-slider .cd-btn:hover {
  background-color: #9b0310;
}
.cd-hero-slider .cd-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #CD0415;
  height: 10%;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.cd-hero-slider .cd-btn:hover:before {
  left: 0;
  right: 0;
}
.cd-hero-slider:focus:before {
  left: 0;
  right: 0;
}
.cd-hero-slider .cd-btn:active:before {
  left: 0;
  right: 0;
}
.cd-hero-slider .cd-btn.secondary:hover {
  background-color: #161a1e;
}
.cd-hero-slider li:nth-of-type(1) {
  background: url("/assets/images/slider/bg_strb.png");
  background-size: cover;
}
.cd-hero-slider li:nth-of-type(1) div {
  padding-top: 2vh;
}
.cd-hero-slider li:nth-of-type(2) {
  background: url("/assets/images/slider/bg_heroes.png");
  background-size: cover;
}
.cd-hero-slider li:nth-of-type(3) {
  background: url("/assets/images/slider/bg_wow.png");
  background-size: cover;
}
.cd-hero-slider li:nth-of-type(4) {
  background: url("/assets/images/slider/bg_lol.png");
  background-size: cover;
}
.cd-hero-slider li:nth-of-type(5) {
  background: url("/assets/images/slider/bg_gtav.png");
  background-size: cover;
}
.cd-hero-slider li:nth-of-type(6) {
  background: url("/assets/images/slider/bg_csgo.png");
  background-size: cover;
}
.cd-hero-slider .cd-full-width {
  text-align: center !important;
  padding-top: 15vh;
  text-align: left;
}
.cd-hero-slider .cd-half-width {
  padding-top: 15vh;
  text-align: left;
}
.cd-hero-slider .cd-bg-video-wrapper {
  display: block;
}
.cd-hero-slider .cd-half-width {
  width: 45%;
}
.cd-hero-slider .cd-half-width:first-of-type {
  left: 5%;
}
.cd-hero-slider .cd-half-width:nth-of-type(2) {
  right: 5%;
  left: auto;
}
.cd-hero-slider .cd-img-container {
  display: block;
}
.cd-hero-slider .cd-half-width h2, .cd-hero-slider .cd-half-width p, .cd-hero-slider .cd-half-width img, .cd-hero-slider .cd-half-width .cd-btn {
  opacity: 0;
  transform: translateX(100px);
}
.cd-hero-slider .move-left .cd-half-width h2, .cd-hero-slider .move-left .cd-half-width p, .cd-hero-slider .move-left .cd-half-width img, .cd-hero-slider .move-left .cd-half-width .cd-btn {
  opacity: 0;
  transform: translateX(-100px);
}
.cd-hero-slider .selected .cd-half-width h2, .cd-hero-slider .selected .cd-half-width p, .cd-hero-slider .selected .cd-half-width img, .cd-hero-slider .selected .cd-half-width .cd-btn {
  /* this is the visible slide */
  opacity: 1;
  transform: translateX(0);
}
.cd-hero-slider li.is-moving .cd-half-width h2, .cd-hero-slider li.is-moving .cd-half-width p, .cd-hero-slider li.is-moving .cd-half-width img, .cd-hero-slider li.is-moving .cd-half-width .cd-btn {
  /*      this is the slide moving outside the viewport
  * * wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
  transition: opacity 0s 0.5s, transform 0s 0.5s;
}
.cd-hero-slider .cd-full-width h2, .cd-hero-slider .cd-full-width p, .cd-hero-slider .cd-full-width img, .cd-hero-slider .cd-full-width .cd-btn {
  opacity: 0;
  transform: translateX(100px);
}
.cd-hero-slider .move-left .cd-full-width h2, .cd-hero-slider .move-left .cd-full-width p, .cd-hero-slider .move-left .cd-full-width img, .cd-hero-slider .move-left .cd-full-width .cd-btn {
  opacity: 0;
  transform: translateX(-100px);
}
.cd-hero-slider .selected .cd-full-width h2, .cd-hero-slider .selected .cd-full-width p, .cd-hero-slider .selected .cd-full-width img, .cd-hero-slider .selected .cd-full-width .cd-btn {
  /* this is the visible slide */
  opacity: 1;
  transform: translateX(0);
}
.cd-hero-slider li.is-moving .cd-full-width h2, .cd-hero-slider li.is-moving .cd-full-width p, .cd-hero-slider li.is-moving .cd-full-width img, .cd-hero-slider li.is-moving .cd-full-width .cd-btn {
  /*      this is the slide moving outside the viewport
  * * wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
  transition: opacity 0s 0.5s, transform 0s 0.5s;
}
.cd-hero-slider li.selected h2 {
  transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
}
.cd-hero-slider li.selected p {
  transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
}
.cd-hero-slider li.selected .cd-btn {
  transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s;
}
.cd-hero-slider li.selected img {
  transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
}

/*# sourceMappingURL=slider.component.css.map */
