html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  font-size: 100%
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: none

q
  &:before, &:after
    content: none

table
  border-collapse: collapse
  border-spacing: 0

.ui.grid
  margin: 0 !important
  padding: 0

.ui.grid > *
  padding-left: 8rem
  padding-right: 8rem

.cd-hero-slider
  position: relative
  height: 100%
  overflow: hidden
  white-space: normal

  li
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transform: translateX(100%)

    &.selected
      position: relative
      transform: translateX(0)

    &.move-left
      transform: translateX(-100%)

    &.is-moving, &.selected
      transition: transform 0.5s

  .cd-full-width, .cd-half-width
    position: absolute
    width: 100%
    height: 100%
    z-index: 2
    left: 0
    top: 0
    padding-top: 100px
    text-align: center
    backface-visibility: hidden
    transform: translateZ(0)

  .cd-half-width.content
    display: flex
    flex-direction: column

    &.left
      align-items: flex-start
      align-self: flex-start
      text-align: left

    &.right
      align-items: flex-end
      align-self: flex-end
      justify-self: flex-end
      text-align: right

  .cd-img-container
    display: flex
    position: absolute
    height: 100%
    z-index: 1
    margin-left: auto
    margin-right: 0
    padding-left: 0
    padding-right: 0

    img
      position: absolute
      bottom: -100px
      height: 85vmin
      width: auto
      max-height: 90vh

    &.left
      justify-content: flex-start

    &.right
      justify-content: flex-end

  .cd-bg-video-wrapper
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden

    video
      display: block
      min-height: 100%
      min-width: 100%
      max-width: none
      height: auto
      width: auto
      position: absolute
      left: 50%
      top: 50%
      bottom: auto
      right: auto
      transform: translateX(-50%) translateY(-50%)

  h2, p
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1)
    line-height: 1.2
    margin: 0 auto 14px
    color: white
    width: 100%

  h2
    font-size: 7vmin

  p
    font-size: 1.8vmin
    line-height: 1.4

  .cd-btn-container-left
    text-align: left

  .cd-btn
    display: inline-block
    padding: 1.2em 1.4em
    margin-top: .8em
    margin-right: 1em
    background-color: rgba(205, 4, 21, 0.9)
    font-size: 1.8vmin
    font-weight: 500
    letter-spacing: 1px
    color: white
    text-transform: uppercase
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1)
    transition: background-color 0.2s
    text-shadow: none

    &.secondary
      background-color: rgba(22, 26, 30, 0.8)

    &:hover
      background-color: #9b0310

    &:before
      content: ""
      position: absolute
      z-index: -1
      left: 50%
      right: 50%
      bottom: 0
      background: #CD0415
      height: 10%
      transition-property: left, right
      transition-duration: 0.3s
      transition-timing-function: ease-out

    &:hover:before
      left: 0
      right: 0

  &:focus:before
    left: 0
    right: 0

  .cd-btn
    &:active:before
      left: 0
      right: 0

    &.secondary:hover
      background-color: #161a1e

  li
    &:nth-of-type(1)
      background: url('/assets/images/slider/bg_strb.png')
      background-size: cover

      div
        padding-top: 2vh

    &:nth-of-type(2)
      background: url('/assets/images/slider/bg_heroes.png')
      background-size: cover

    &:nth-of-type(3)
      background: url('/assets/images/slider/bg_wow.png')
      background-size: cover

    &:nth-of-type(4)
      background: url('/assets/images/slider/bg_lol.png')
      background-size: cover

    &:nth-of-type(5)
      background: url('/assets/images/slider/bg_gtav.png')
      background-size: cover

    &:nth-of-type(6)
      background-image: url('/assets/images/slider/bg_csgo.png')
      background-size: cover

  .cd-full-width
    text-align: center
    padding-top: 15vh

  .cd-half-width
    padding-top: 15vh
    text-align: left

  .cd-half-width-container
    max-width: 800px

  .cd-bg-video-wrapper
    display: block

  .cd-half-width
    h2, p, img, .cd-btn
      opacity: 0
      transform: translateX(100px)

  .move-left .cd-half-width
    h2, p, img, .cd-btn
      opacity: 0
      transform: translateX(-100px)

  .selected .cd-half-width
    h2, p, img, .cd-btn
      /* this is the visible slide
      opacity: 1
      transform: translateX(0)

  li.is-moving .cd-half-width
    h2, p, img, .cd-btn
      /*      this is the slide moving outside the viewport
       * wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px
      transition: opacity 0s 0.5s, transform 0s 0.5s

  .cd-full-width
    h2, p, img, .cd-btn
      opacity: 0
      transform: translateX(100px)

  .move-left .cd-full-width
    h2, p, img, .cd-btn
      opacity: 0
      transform: translateX(-100px)

  .selected .cd-full-width
    h2, p, img, .cd-btn
      /* this is the visible slide
      opacity: 1
      transform: translateX(0)

  li
    &.is-moving .cd-full-width
      h2, p, img, .cd-btn
        /*      this is the slide moving outside the viewport
         * wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px
        transition: opacity 0s 0.5s, transform 0s 0.5s

    &.selected
      h2
        transition: opacity 0.4s 0.2s, transform 0.5s 0.2s

      p
        transition: opacity 0.4s 0.3s, transform 0.5s 0.3s

      .cd-btn
        transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s

      img
        transition: opacity 0.4s 0.3s, transform 0.5s 0.3s
