<ul class="cd-hero-slider autoplay">
  <li class="ui stackable grid" *ngFor="let element of elements; first as isFirst" [class.selected]="isFirst">
    <div *ngIf="element.src.img"
         class="column {{element.type}} cd-img-container"
         [class.left]="element.orientation == 'left'"
         [class.right]="element.orientation == 'right'">
      <img src="{{element.src.img}}" alt="{{element.name}} slider image">
    </div>
    <div class="column {{element.type}} content"
         [class.left]="element.orientation == 'right'"
         [class.right]="element.orientation == 'left'">
      <div [class.cd-half-width-container]="element.type == 'cd-half-width'">
        <img *ngIf="element.content.img"
             style="width: 25vw; height: auto"
             src="{{element.content.img}}"
             alt="{{element.name}} content image">
        <h2 *ngIf="element.content.title">{{element.content.title}}</h2>
        <p *ngIf="element.content.text">{{element.content.text}}</p>
        <div class="cd-btn-group">
          <a *ngFor="let btn of element.content.btn"
             class="ui {{btn.type}} button"
             href="{{btn.link}}">{{btn.title}}</a>
        </div>
      </div>
    </div>
    <div class="cd-bg-video-wrapper">
      <video autoplay loop>
        <source src="{{element.src.video}}">
      </video>
    </div>
  </li>
</ul>
<app-slider-nav></app-slider-nav>
