$easeInOutBack: 0.68, -0.55, 0.265, 1.55

.nav-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: absolute
  bottom: 0

.ui.fluid.menu.app-navigation
  display: flex
  justify-content: center
  max-width: 95vw
  padding: 2vmin 0.5vmin
  transition: all ease-in-out 0.3s
  background-color: rgba(255,255,255,0.3)
  backdrop-filter: blur(50px)

.ui.menu.app-navigation
  border: 0
  border-radius: 1.5vmin
  box-shadow: none
  // Retrait de la bordure et shadow de Fomantic-UI pour qu'elle ne soit pas visible sur l'effet backdrop-filter

.item
  transition: all 0.3s cubic-bezier($easeInOutBack) !important

  .ui.button
    display: flex
    justify-content: center
    align-items: center
    height: 4vmax
    width: 7vmax
    transition: all 0.2s ease-out
    padding: 0.5vmax !important
    border-radius: 0.75em
    box-shadow: none

    img
      height: 100%
      width: auto
      object-fit: contain

    &:hover, &:focus
      transform: scale(1.05)
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5)

      &:active
        transform: scale(0.95)

.item.selected
  transform: scale(1.15)

  .ui.button
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5)

.apps-container
  width: 80vw
  margin: 0
  padding-bottom: 1vh

  .column > *
    min-height: 2rem
    height: calc((16/9)*7vw)
    width: 100%
    border-radius: 0.75em

  .ui.fluid.card
    transition-property: background-color, transform
    transition-duration: 0.2s
    cursor: pointer

    &:hover, &:focus
      transform: scale(1.03)

      &:active
        transform: scale(0.99) !important

.atvButton
  display: flex
  justify-content: center
  align-items: center
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5)
  background-size: cover
  transition: all 0.2s ease-out !important
  transform-style: preserve-3d

  &:hover
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.7)

  .tilt-layer
    display: flex
    flex-direction: column
    justify-content: stretch
    position: absolute
    height: 100%
    width: 100%
    transform-style: preserve-3d

    img
      height: 100%
      width: auto
      object-fit: contain
