<div class="ui centered grid">
  <div class="nav-container">
    <div class="ui fluid borderless menu app-navigation">
      <div class="item" *ngFor="let element of navElements; let i = index; first as isFirst" [class.selected]="isFirst">
        <a class="ui fluid button" [ngStyle]="{'background-color': element.color}">
          <img class="ui image" src="{{element.src}}">
        </a>
      </div>
    </div>
    <div class="ui equal width three column compact grid apps-container">
      <div class="column" *ngFor="let element of appElements;">
        <button class="ui fluid card atvButton" [ngStyle]="{'background-color': element.color}">
          <div *ngIf="element.img" class="background-wrapper">
            <img class="app-background" src="{{element.img}}">
          </div>
          <div class="tilt-layer" *ngFor="let logo of element.logo; let i = index;">
            <img src="{{logo}}" [ngStyle]="{transform: 'translateZ(' + ((i * 5) + 5) + 'vmin) scale(0.7)'}">
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
