$easeInOutBack: 0.68, -0.55, 0.265, 1.55

.nav-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: absolute
  bottom: 0

.ui.fluid.menu.app-navigation
  display: flex
  justify-content: center
  max-width: 95vw
  padding: 1vmin 0.5vmin
  transition: all ease-in-out 0.3s
  background-color: rgba(255,255,255,0.3)
  backdrop-filter: blur(50px)

// Retrait de la bordure et shadow de Fomantic-UI pour qu'elle ne soit pas visible sur l'effet backdrop-filter
.ui.menu.app-navigation
  border: 0
  border-radius: 1.5vmin
  box-shadow: none

.ui.menu.app-navigation > .item
  padding-left: 1.2vw
  padding-right: 1.2vw

.ui.button
  display: flex
  justify-content: center
  align-items: center
  height: 5vmax
  width: 7vmax
  transition: all cubic-bezier($easeInOutBack) 0.3s
  padding: 0.5vmax !important
  border-radius: 0.75em

.ui.button img
  height: 100%
  width: auto
  object-fit: contain

.item.selected .button
 transform: scale(1.15)

.apps-container
  width: 80vw
  margin: 0
  padding-bottom: 1vh

  .column > *
    min-height: 2rem
    height: calc((16/9)*7vw)
    width: 100%
    border-radius: 0.75em

  .ui.fluid.card
    transition-property: background-color, transform
    transition-duration: 0.2s
    cursor: pointer

    &:hover, &:focus
      transform: scale(1.03)

      &:active
        transform: scale(0.99) !important

.atvButton
  display: flex
  justify-content: center
  align-items: center
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5)
  background-size: cover
  transition: all 0.2s ease-out !important
  transform-style: preserve-3d

  &:hover
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.7)

  .tilt-layer
    display: flex
    flex-direction: column
    justify-content: stretch
    position: absolute
    height: 100%
    width: 100%
    transform-style: preserve-3d

    img
      height: 100%
      width: auto
      object-fit: contain
