<div class="backgroundContainer">
  <!-- TODO: Rajouter la balise du nouveau composant Particle.JS -->
</div>
<div class="ui container">
  <div class="youtubeContainer">
    <div class="youtubePlayer">
      <iframe
        id="youtubePlayerFrame"
        [src]="urlSafe"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="overlayContainer">
    <app-back-button></app-back-button>
  </div>
</div>
