<div class="backgroundContainer">
  <img src="https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="Background Image">
</div>
<div class="ui container">
  <div class="youtubeContainer">
    <div class="youtubePlayer">
      <iframe
        id="youtubePlayerFrame"
        [src]="urlSafe"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
  <div class="overlayContainer">
    <app-back-button></app-back-button>
  </div>
</div>
