.constructionBackground
  position: absolute
  top: 0
  left: 0
  background: rgb(18,0,36)
  background: linear-gradient(45deg, rgba(18,0,36,1) 30%, rgba(41,0,5,1) 75%, rgba(145,0,0,1) 100%)
  color: white

