/* color palette from <https://github.com/vuejs/theme> */
$vt-c-white: #ffffff;
$vt-c-white-soft: #f8f8f8;
$vt-c-white-mute: #f2f2f2;

$vt-c-black: rgba(41,0,5,1);
//$vt-c-black: linear-gradient(45deg, rgba(18,0,36,1) 30%, rgba(41,0,5,1) 75%, rgba(145,0,0,1) 100%);
$vt-c-black-soft: #222222;
$vt-c-black-mute: #282828;

$vt-c-indigo: #2c3e50;

$vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
$vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
$vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
$vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

$vt-c-text-light-1: $vt-c-indigo;
$vt-c-text-light-2: rgba(60, 60, 60, 0.66);
$vt-c-text-dark-1: $vt-c-white;
$vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

// Colors
$sn-primary-red: darkred;
$sn-default-dark: #333;

// Values
$sn-main-padding: 1em;
$sn-main-padding-inverse: -1em;
$sn-main-border-radius: 18px;
$sn-apple-border-radius: 16px;

// Shadows
$sn-text-shadow: 0 0 10px $sn-default-dark;

// Timing-functions
$sn-default-timing: cubic-bezier(.9, 0, .1, 1);

// Other
$sn-apple-blur: 30px;
$sn-apple-border: 1px solid rgb(255 255 255 / 0.1);
