.discord
  height: 100vh
  top: 0
  left: 0
  overflow: hidden
  max-height: 100vh
  max-width: 100vw

  iframe
    height: 100%
    width: 100%

// Reset du style du composant Fomantic-UI
.fullscreen.modal
  left: inherit
